<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatSeoul</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" typeof="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" typeof="text/css" th:href="@{/css/common/common.css}"/>
    <script th:src="@{/js/common/common.js}"></script>
    <script th:src="@{/js/admin/areas.js}"></script>
    <script th:src="@{/js/admin/deleteAreas.js}"></script>
</head>
<body class="d-flex flex-column min-vh-100">
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg custom-navbar sticky-top">
    <a class="navbar-brand font-weight-bold text-dark" href="/">What Seoul</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="menu-text">☰</span>

    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto"> <!-- ml-auto 추가로 오른쪽 정렬 -->
            <!-- 로그인 회원 -->
            <li class="nav-item">
                <a class="nav-link text-secondary font-weight-light" href="/citydata">지금 서울은?</a>
            </li>
            <li class="nav-item" th:if="${authPrincipal != 'anonymousUser'}">
                <a class="nav-link text-secondary font-weight-light" onclick="logout()">로그아웃</a>
            </li>
            <li class="nav-item" th:if="${authPrincipal != 'anonymousUser'}">
                <a class="nav-link text-secondary font-weight-light" href="/mypage">마이페이지</a>
            </li>
            <li class="nav-item" th:if="${authPrincipal != 'anonymousUser' and loginUserInfo.role.toString() == 'ADMIN'}">
                <a class="nav-link text-secondary font-weight-light" href="/settings">Settings</a>
            </li>
            <li class="nav-item ml-lg-3 ml-0" th:if="${authPrincipal != 'anonymousUser'}">
                <span class="navbar-text text-secondary font-weight-light" th:text="${loginUserInfo.nickName} + '님 안녕하세요!'"></span>
            </li>

            <!-- 비로그인 회원 -->
            <li class="nav-item" th:if="${authPrincipal == 'anonymousUser'}">
                <a class="nav-link text-secondary font-weight-light" href="/login">로그인</a>
            </li>
            <li class="nav-item" th:if="${authPrincipal == 'anonymousUser'}">
                <a class="nav-link text-secondary font-weight-light" href="/signup">회원가입</a>
            </li>
        </ul>
    </div>
</nav>

<section class="flex-grow-1 container mt-5">
    <h2 class="mb-5">서울시 주요 장소 정보 목록</h2>

    <div>
        <button id="delete-selected-button" class="btn btn-danger">선택 삭제</button>
    </div>

    <div class="mb-4 d-flex justify-content-end align-items-center">
        <label for="areaName-input"></label>
        <input type="text" id="areaName-input" class="form-control w-auto" placeholder="장소명 검색(ex. 강남)" style="max-width: 300px;">
        <button id="search-button" class="btn btn-primary ml-2">검색</button>
    </div>



    <div class="table-responsive">
        <table class="table table-bordered table-hover text-center" id="area-table">
            <thead class="thead-light">
            <tr>
                <th><input type="checkbox" id="select-all-checkbox" /></th> <!-- 전체 선택용 -->
                <th>No.</th>
                <th>카테고리</th>
                <th>장소코드</th>
                <th>장소명</th>
                <th>등록일자</th>
                <th>수정일자</th>
                <th>삭제처리일자</th>
            </tr>
            </thead>
            <tbody id="area-table-body">
            </tbody>
        </table>
    </div>

    <!-- 로딩 스피너 -->
    <div id="loading-spinner" class="text-center my-3" style="display: none;">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <!-- 무한 스크롤 감지용 앵커 -->
    <div id="scroll-anchor" style="height: 1px;"></div>
</section>

<!-- Footer -->
<footer class="bg-light text-center text-muted py-3 mt-5">
    <div class="container">
        <small>&copy; 2025 WhatSeoul. All rights reserved.</small>
    </div>
</footer>

<!-- Bootstrap JS, Popper.js, jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>
</html>