<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatSeoul</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" typeof="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" typeof="text/css" th:href="@{/css/common/common.css}"/>
    <script th:src="@{/js/common/common.js}"></script>
    <script th:src="@{/js/admin/uploadArea.js}"></script>
</head>

<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg custom-navbar">
    <a class="navbar-brand font-weight-bold text-dark" href="/">What Seoul</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!-- 로그인 회원 -->
            <li class="nav-item">
                <a class="nav-link text-secondary font-weight-light" href="/citydata">지금 서울은?</a>
            </li>
            <li class="nav-item" th:if="${authPrincipal != 'anonymousUser'}">
                <a class="nav-link text-secondary font-weight-light" onclick="logout()">로그아웃</a>
            </li>
            <li class="nav-item" th:if="${authPrincipal != 'anonymousUser'}">
                <a class="nav-link text-secondary font-weight-light" href="/mypage">마이페이지</a>
            </li>
            <li class="nav-item"
                th:if="${authPrincipal != 'anonymousUser' and loginUserInfo.role.toString() == 'ADMIN'}">
                <a class="nav-link text-secondary font-weight-light" href="/settings">Settings</a>
            </li>
            <li class="nav-item" th:if="${authPrincipal != 'anonymousUser'}" style="margin-left: 1rem;">
                <span class="navbar-text text-secondary font-weight-light"
                      th:text="${loginUserInfo.nickName} + '님 안녕하세요!'"></span>
            </li>

            <!-- 비로그인 회원 -->
            <li class="nav-item" th:if="${authPrincipal == 'anonymousUser'}">
                <a class="nav-link text-secondary font-weight-light" href="/login">로그인</a>
            </li>
            <li class="nav-item" th:if="${authPrincipal == 'anonymousUser'}">
                <a class="nav-link text-secondary font-weight-light" href="/signup">회원가입</a>
            </li>
        </ul>
    </div>
</nav>

<section class="container mt-5">
    <h2>장소 데이터 업로드</h2>
    <hr class="mb-4" style="border-color: #ddd;"/>

    변경된 .shp 파일을 업로드해주세요. 이를 바탕으로 서울시 주요 장소 데이터를 갱신합니다.
    <form class="mt-4" id="uploadForm" enctype="multipart/form-data">
        <label for="shpFile">Shapefile (.shp):</label>
        <input type="file" id="shpFile" name="multipartFile" accept=".shp" required/>
        <br/><br/>
        <button type="submit">업로드</button>
    </form>

    <hr/>
    <div id="result" style="white-space: pre-line;"></div>
</section>

</body>
</html>
