<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatSeoul</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!--    <link rel="stylesheet" typeof="text/css" th:href="@{/css/index.css}"/>-->
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">What Seoul</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">지금 서울은?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">커뮤니티</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">마이페이지</a>
            </li>

            <!-- 로그인 상태에 따른 메뉴 바 변경 -->
            <li class="nav-item" th:if="${authPrincipal != 'anonymousUser'}">
                <!-- 로그인된 상태일 때 -->
                <a class="nav-link" onclick="logout()">로그아웃</a>
                <span class="nav-link" th:text="${loginUserInfo.nickName} + '님 안녕하세요!'"></span>
            </li>

            <li class="nav-item" th:if="${authPrincipal == 'anonymousUser'}">
                <!-- 로그인되지 않은 상태일 때 -->
                <a class="nav-link" href="/login">로그인</a>
                <a class="nav-link" href="/signup">회원가입</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Login Section -->
<section class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-header bg-dark text-white text-center">
                    로그인
                </div>
                <div class="card-body">
                    <form action="/login" method="POST">
                        <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}"/>

                        <div class="form-group">
                            <label for="userId">아이디</label>
                            <input class="form-control" type="text" id="userId" name="username" placeholder="아이디" required>
                        </div>

                        <div class="form-group">
                            <label for="password">비밀번호</label>
                            <input class="form-control" type="password" id="password" name="password" placeholder="비밀번호" required>
                        </div>

                        <!-- 로그인 실패 시 에러 메시지 출력 -->
                        <div th:if="${param.error}" class="alert alert-danger">
                            <p th:text="${session.errorMessage}"></p>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">로그인</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Bootstrap JS, Popper.js, jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>