#map {
    width: 80%;
    height: 80%;
}

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.nav-item {
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.nav-item.hidden {
    visibility: hidden; /* 요소를 보이지 않게 유지 */
}

.custom-navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* 아래쪽 그림자 */
}

