<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatSeoul</title>

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" typeof="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" typeof="text/css" th:href="@{/css/access-denied.css}"/>
    <link rel="stylesheet" typeof="text/css" th:href="@{/css/common/common.css}"/>
    <script th:src="@{/js/common/common.js}"></script>

</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg custom-navbar">
    <a class="navbar-brand font-weight-bold text-dark" href="/">What Seoul</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!-- 로그인 회원 -->
            <li class="nav-item">
                <a class="nav-link text-secondary font-weight-light" href="/citydata">지금 서울은?</a>
            </li>
            <li class="nav-item" th:if="${authPrincipal != 'anonymousUser'}">
                <a class="nav-link text-secondary font-weight-light" onclick="logout()">로그아웃</a>
            </li>
            <li class="nav-item" th:if="${authPrincipal != 'anonymousUser'}">
                <a class="nav-link text-secondary font-weight-light" href="/mypage">마이페이지</a>
            </li>
            <li class="nav-item" th:if="${authPrincipal != 'anonymousUser' and loginUserInfo.role.toString() == 'ADMIN'}">
                <a class="nav-link text-secondary font-weight-light" href="/settings">Settings</a>
            </li>
            <li class="nav-item" th:if="${authPrincipal != 'anonymousUser'}" style="margin-left: 1rem;">
                <span class="navbar-text text-secondary font-weight-light" th:text="${loginUserInfo.nickName} + '님 안녕하세요!'"></span>
            </li>

            <!-- 비로그인 회원 -->
            <li class="nav-item" th:if="${authPrincipal == 'anonymousUser'}">
                <a class="nav-link text-secondary font-weight-light" href="/login">로그인</a>
            </li>
            <li class="nav-item" th:if="${authPrincipal == 'anonymousUser'}">
                <a class="nav-link text-secondary font-weight-light" href="/signup">회원가입</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container center-box">
    <img th:src="@{/media/access-denied.png}" alt="Access Denied">
    <h4 class="text-danger">접근 권한이 없습니다</h4>
    <a href="/" class="btn btn-outline-primary mt-3">홈으로 돌아가기</a>
</div>

<!-- Bootstrap JS, Popper.js, jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>